---
database: '{{ bouncer_database }}'
user: '{{ bouncer_user }}'
password: '{{ bouncer_password  }}'
host: '{{ bouncer_host }}'
port: {{ bouncer_port }}
switch-secret: '{{ bouncer_switch_secret }}'

